*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: inherit;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    /* transform: translateX(50%); */
    position: relative;
    transform-origin: top left;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.body--rotated {
    transform: rotate(-90deg);
    overflow: hidden;
}

html {
    font-size: 62.5%; /* 10 px / 16px */
}

section {
    padding: 10rem 20rem;
}

article:not(:last-child)::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    border-radius: 20px;
    margin: 8rem 0 9rem;
}

nav {
    position: absolute;
    top: 50vw;
    left: -50vh;
    transform: translate(-50%, -50%) rotate(90deg);
}

.text {
    font-size: 1.6rem;
    line-height: 1.8;
}

.text:not(:last-child) {
    margin-bottom: 1rem;
}

.heading--primary {
    font-size: 6rem;
    font-weight: 800;
    margin-bottom: 1rem;
    line-height: 1;
}

.author {
    font-style: italic;
    margin-bottom: 3rem !important;
}

.img-cover {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 4rem;
    background: url();
    background-size: contain;
    background-position: center;
}

.nav-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background-color: #7d7d7d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.nav-btn--rotated {
    transform: translateX(calc(100% * -1 - 20px)) rotate(90deg);
}

.nav-btn:hover {
    background-color: #aeaeae;
}

.nav-btn span {
    width: 60%;
    height: 3px;
    background-color: #fff;
    border-radius: 20px;
}

.nav-btn--rotated span {
    position: absolute;
    top: 50%;
    left: 50%;
}

.nav-btn--rotated span:first-child {
    transform: translate(-50%, -50%) rotate(45deg);
}

.nav-btn--rotated span:last-child {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.list-item {
}

.list-link:visited,
.list-link:link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 1.8rem;
    color: #7d7d7d;
    padding: 1rem 2rem;
    transition: all 0.3s ease-in-out;
}

.list-link:hover {
    letter-spacing: 4px;
    font-size: 1.8rem;
    color: #fff;
    background-color: #7d7d7d;
}

@media (max-width: 1200px) {
    section {
        padding: 10rem 15rem;
    }

    .heading--primary {
        font-size: 5rem;
    }

    .text {
        line-height: 1.4;
    }
}

@media (max-width: 992px) {
    section {
        padding: 10rem 10rem;
    }

    .heading--primary {
        font-size: 4.5rem;
    }
}

@media (max-width: 768px) {
    section {
        padding: 8rem;
    }

    .heading--primary {
        font-size: 5rem;
    }
}

@media (max-width: 576px) {
    section {
        padding: 6rem 3rem;
    }

    .heading--primary {
        font-size: 4rem;
    }

    article:not(:last-child)::after {
        margin: 4rem 0 5rem;
    }
}
