// VARIABLES

$color-vi: #94126c;
$color-jinx: #21819a;
$color-arcane: #8b6f3c;
$color-arcane-light: #e6deba;
$color-black: #000;
$color-white: #fff;
$color-gray: #d6d6d6;

// MIXINS

@mixin selectionStyle($bgColor) {
    color: $color-white;
    background-color: $bgColor;
}

// INIT

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: inherit;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: 400;
}

html {
    font-size: 62.5%; // 10 px / 16px
}

// TYPOGRAPHY

.heading--primary {
    cursor: pointer;
    font-size: 9rem;
    font-weight: 800;
    margin-bottom: 1rem;
    line-height: 1;
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out;

    &:hover {
        color: transparent;
        background: linear-gradient(
            to right,
            $color-arcane,
            $color-arcane-light,
            $color-arcane
        );
        -webkit-background-clip: text;
    }

    &::selection {
        @include selectionStyle($color-arcane);
    }
}

.hero__heading {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    color: transparent;
    background: linear-gradient(
        to right,
        $color-arcane,
        $color-arcane-light,
        $color-arcane
    );
    -webkit-background-clip: text;
    z-index: 1000;
    transition: all 0.1s ease;
}

.text {
    font-size: 2rem;
    line-height: 1.5;
    height: 0;
    visibility: hidden;
    opacity: 0;

    &--slow-transition {
        transition: all 2s ease 0.2s;
    }

    &--fast-transition {
        transition: all 0.1s ease;
    }
}

.btn {
    cursor: pointer;
    border: none;
    display: block;
    max-width: fit-content;
    font-size: 1.4rem;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    color: transparent;
    background: linear-gradient(
        to right,
        $color-arcane,
        $color-arcane-light,
        $color-arcane
    );
    -webkit-background-clip: text;
    transform: skewX(-10deg);
    height: 0;
    visibility: hidden;
    opacity: 0;

    &--slow-transition {
        transition: padding 0.3s ease, color 0.3s ease,
            -webkit-background-clip 0.3s ease, box-shadow 0.3s ease,
            transform 0.3s ease, height 2s ease 0.2s, visibility 2s ease 0.2s,
            opacity 2s ease 0.2s;
    }

    &--fast-transition {
        transition: padding 0.3s ease, color 0.3s ease,
            -webkit-background-clip 0.3s ease, box-shadow 0.3s ease,
            transform 0.3s ease, height 0.1s ease, visibility 0.1s ease,
            opacity 0.1s ease;
    }

    &__label {
        color: transparent;
        background: linear-gradient(
            to right,
            $color-arcane,
            $color-arcane-light,
            $color-arcane
        );
        -webkit-background-clip: text;
        display: inline-block;
        transform: skewX(10deg);
    }

    &:hover,
    &:focus {
        outline: none;
        padding: 1rem 3rem;
        color: $color-white;
        -webkit-background-clip: unset;
        box-shadow: 0.5rem 0.5rem 1rem rgba($color-black, $alpha: 0.3);

        .btn__label {
            color: $color-white;
        }
    }

    &:active {
        box-shadow: 0.5rem 0.5rem 0.5rem rgba($color-black, $alpha: 0.3);
        transform: skewX(-10deg) translateY(2px) scale(0.95);
    }
}

/* HERO SIDES */

.hero {
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;

    &__heading {
        &::selection {
            color: $color-white;
            background-color: $color-arcane;
        }
    }

    &__content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.5s ease-in-out;
    }
}

.hero__side {
    width: 50%;
    position: relative;
    background-size: cover;
    transition: width 0.5s ease, height 0.5s ease, filter 0.2s ease;

    &--left {
        background: url(jinx.jpg);
        background-size: cover;
        background-position: left;
        color: $color-jinx;

        &.hero__side--covered::before {
            opacity: 1;
        }

        &:not(.hero__side--covered) {
            background: linear-gradient(to right, transparent 30%, #fff),
                url(jinx.jpg);
            background-size: cover;
            background-position: left;

            .hero__content {
                right: 0;
            }

            .heading--primary:hover {
                color: $color-jinx;
            }

            .heading--primary::selection {
                @include selectionStyle($color-jinx);
            }

            .text::selection {
                @include selectionStyle($color-jinx);
            }
        }

        &::before {
            background: linear-gradient(
                to right,
                rgba($color-jinx, 0.8),
                $color-white
            );
        }

        .hero__content {
            right: 10%;
            text-align: right;
            align-items: flex-end;
        }
    }

    &--right {
        background: url(vi.jpg);
        background-size: cover;
        background-position: right;
        color: $color-vi;

        &.hero__side--covered::before {
            opacity: 1;
        }

        &:not(.hero__side--covered) {
            background: linear-gradient(to left, transparent 30%, #fff),
                url(vi.jpg);
            background-size: cover;
            background-position: right;

            .hero__content {
                left: 0;
            }

            .heading--primary:hover {
                color: $color-vi;
            }

            .heading--primary::selection {
                @include selectionStyle($color-vi);
            }

            .text::selection {
                @include selectionStyle($color-vi);
            }
        }

        &::before {
            background: linear-gradient(to left, rgba($color-vi, 0.8), #fff);
        }

        .hero__content {
            left: 10%;
            text-align: left;
        }
    }

    &--covered {
        height: 100%;
    }

    &--grayed-out {
        .heading--primary {
            visibility: hidden;
            opacity: 0;
        }
    }

    &.hero__side--grayed-out {
        width: 10%;
        background: linear-gradient(to right, $color-white, $color-white);
        filter: saturate(0);
        transition: width 0.5s, filter 1s;
    }

    &:has(.heading--primary:hover) {
        filter: sepia(0.35);
    }

    &:not(.hero__side--covered) {
        height: 115%;

        &:has(.heading--primary:hover) {
            filter: sepia(0);
        }

        .hero__content {
            display: flex;
            flex-direction: column;
            width: 40%;
            transform: translateY(-40%) scale(0.7);
        }

        .heading--primary:hover {
            cursor: auto;
        }

        .text,
        .btn {
            height: auto;
            visibility: visible;
            opacity: 1;
        }

        .btn {
            padding-top: 1rem;
            padding-bottom: 1rem;
            margin-top: 5rem;
        }
    }

    &:not(.hero__side--grayed-out) {
        width: 90%;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: opacity 0.5s ease;
    }
}

// EXTRAS

.invisible {
    visibility: hidden;
    opacity: 0;
}

// MEDIA QUERIES

@media (max-width: 1200px) {
    .heading--primary {
        font-size: 6rem;
    }

    .hero__heading {
        font-size: 2rem;
    }

    .text {
        line-height: 1.4;
    }

    .hero__side {
        &.hero__side--grayed-out {
            width: 0%;
        }

        &:not(.hero__side--grayed-out) {
            width: 100%;
        }

        &:not(.hero__side--covered) {
            height: 115%;

            .hero__content {
                width: 50%;
            }
        }
    }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
    .heading--primary {
        font-size: 6rem;
    }

    .text {
        transition: all 0.5s ease;
    }

    .btn {
        transition: height 0.5s ease, visibility 0.5s ease, opacity 0.5s ease;
    }

    .hero {
        flex-direction: column;

        &__heading {
            width: 100%;
            text-align: center;
            padding: 4rem;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .hero__side {
        width: 100%;
        height: 50%;

        &--left {
            &:not(.hero__side--covered) {
                background: linear-gradient(
                        to bottom,
                        rgba($color-jinx, 0.8),
                        $color-white
                    ),
                    url(jinx.jpg);
                background-size: cover;
                background-position: left;

                .hero__content {
                    text-align: left;
                }
            }

            &::before {
                background: linear-gradient(
                    to bottom,
                    rgba($color-jinx, 0.8),
                    $color-white
                );
            }

            .hero__content {
                align-items: flex-start;
            }
        }

        &--right {
            &:not(.hero__side--covered) {
                background: linear-gradient(
                        to bottom,
                        rgba($color-vi, 0.8),
                        $color-white
                    ),
                    url(vi.jpg);
                background-size: cover;
                background-position: right;
            }

            &::before {
                background: linear-gradient(
                    to top,
                    rgba($color-vi, 0.8),
                    $color-white
                );
            }
        }

        &.hero__side--grayed-out {
            width: 100%;
            height: 0;
        }

        &:not(.hero__side--covered) {
            .hero__content {
                top: 100%;
                width: 100%;
                padding: 5rem;
                transform: translateY(-100%) scale(1);
            }
        }

        &:not(.hero__side--grayed-out) {
            width: 100%;
            height: 100%;
        }

        &::before {
            transition: opacity 0.5s ease;
        }
    }
}

@media (max-width: 576px) {
    .heading--primary {
        font-size: 5rem;
    }

    .text {
        font-size: 1.4rem;
    }

    .btn {
        margin: 0 auto;
    }

    .hero__side {
        &--left {
            .hero__content {
                right: 0;
                text-align: center;
                align-items: center;
            }

            .heading--primary,
            .text {
                text-align: center;
            }

            &:not(.hero__side--covered) {
                background-position: 27%;
            }
        }

        &--right {
            .hero__content {
                left: 0;
                text-align: center;
            }

            &:not(.hero__side--covered) {
                background-position: 80%;
            }
        }

        &:not(.hero__side--covered) {
            .hero__content {
                padding: 3rem;
            }

            .btn {
                margin-top: 3rem;
            }
        }
    }
}
