*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: inherit;
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 400; }

html {
  font-size: 62.5%; }

.heading--primary {
  cursor: pointer;
  font-size: 9rem;
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 1;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out; }
  .heading--primary:hover {
    color: transparent;
    background: linear-gradient(to right, #8b6f3c, #e6deba, #8b6f3c);
    -webkit-background-clip: text; }
  .heading--primary::selection {
    color: #fff;
    background-color: #8b6f3c; }

.hero__heading {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  color: transparent;
  background: linear-gradient(to right, #8b6f3c, #e6deba, #8b6f3c);
  -webkit-background-clip: text;
  z-index: 1000;
  transition: all 0.1s ease; }

.text {
  font-size: 2rem;
  line-height: 1.5;
  height: 0;
  visibility: hidden;
  opacity: 0; }
  .text--slow-transition {
    transition: all 2s ease 0.2s; }
  .text--fast-transition {
    transition: all 0.1s ease; }

.btn {
  cursor: pointer;
  border: none;
  display: block;
  max-width: fit-content;
  font-size: 1.4rem;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  color: transparent;
  background: linear-gradient(to right, #8b6f3c, #e6deba, #8b6f3c);
  -webkit-background-clip: text;
  transform: skewX(-10deg);
  height: 0;
  visibility: hidden;
  opacity: 0; }
  .btn--slow-transition {
    transition: padding 0.3s ease, color 0.3s ease, -webkit-background-clip 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease, height 2s ease 0.2s, visibility 2s ease 0.2s, opacity 2s ease 0.2s; }
  .btn--fast-transition {
    transition: padding 0.3s ease, color 0.3s ease, -webkit-background-clip 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease, height 0.1s ease, visibility 0.1s ease, opacity 0.1s ease; }
  .btn__label {
    color: transparent;
    background: linear-gradient(to right, #8b6f3c, #e6deba, #8b6f3c);
    -webkit-background-clip: text;
    display: inline-block;
    transform: skewX(10deg); }
  .btn:hover, .btn:focus {
    outline: none;
    padding: 1rem 3rem;
    color: #fff;
    -webkit-background-clip: unset;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3); }
    .btn:hover .btn__label, .btn:focus .btn__label {
      color: #fff; }
  .btn:active {
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
    transform: skewX(-10deg) translateY(2px) scale(0.95); }

/* HERO SIDES */
.hero {
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden; }
  .hero__heading::selection {
    color: #fff;
    background-color: #8b6f3c; }
  .hero__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease-in-out; }

.hero__side {
  width: 50%;
  position: relative;
  background-size: cover;
  transition: width 0.5s ease, height 0.5s ease, filter 0.2s ease; }
  .hero__side--left {
    background: url(jinx.jpg);
    background-size: cover;
    background-position: left;
    color: #21819a; }
    .hero__side--left.hero__side--covered::before {
      opacity: 1; }
    .hero__side--left:not(.hero__side--covered) {
      background: linear-gradient(to right, transparent 30%, #fff), url(jinx.jpg);
      background-size: cover;
      background-position: left; }
      .hero__side--left:not(.hero__side--covered) .hero__content {
        right: 0; }
      .hero__side--left:not(.hero__side--covered) .heading--primary:hover {
        color: #21819a; }
      .hero__side--left:not(.hero__side--covered) .heading--primary::selection {
        color: #fff;
        background-color: #21819a; }
      .hero__side--left:not(.hero__side--covered) .text::selection {
        color: #fff;
        background-color: #21819a; }
    .hero__side--left::before {
      background: linear-gradient(to right, rgba(33, 129, 154, 0.8), #fff); }
    .hero__side--left .hero__content {
      right: 10%;
      text-align: right;
      align-items: flex-end; }
  .hero__side--right {
    background: url(vi.jpg);
    background-size: cover;
    background-position: right;
    color: #94126c; }
    .hero__side--right.hero__side--covered::before {
      opacity: 1; }
    .hero__side--right:not(.hero__side--covered) {
      background: linear-gradient(to left, transparent 30%, #fff), url(vi.jpg);
      background-size: cover;
      background-position: right; }
      .hero__side--right:not(.hero__side--covered) .hero__content {
        left: 0; }
      .hero__side--right:not(.hero__side--covered) .heading--primary:hover {
        color: #94126c; }
      .hero__side--right:not(.hero__side--covered) .heading--primary::selection {
        color: #fff;
        background-color: #94126c; }
      .hero__side--right:not(.hero__side--covered) .text::selection {
        color: #fff;
        background-color: #94126c; }
    .hero__side--right::before {
      background: linear-gradient(to left, rgba(148, 18, 108, 0.8), #fff); }
    .hero__side--right .hero__content {
      left: 10%;
      text-align: left; }
  .hero__side--covered {
    height: 100%; }
  .hero__side--grayed-out .heading--primary {
    visibility: hidden;
    opacity: 0; }
  .hero__side.hero__side--grayed-out {
    width: 10%;
    background: linear-gradient(to right, #fff, #fff);
    filter: saturate(0);
    transition: width 0.5s, filter 1s; }
  .hero__side:has(.heading--primary:hover) {
    filter: sepia(0.35); }
  .hero__side:not(.hero__side--covered) {
    height: 115%; }
    .hero__side:not(.hero__side--covered):has(.heading--primary:hover) {
      filter: sepia(0); }
    .hero__side:not(.hero__side--covered) .hero__content {
      display: flex;
      flex-direction: column;
      width: 40%;
      transform: translateY(-40%) scale(0.7); }
    .hero__side:not(.hero__side--covered) .heading--primary:hover {
      cursor: auto; }
    .hero__side:not(.hero__side--covered) .text,
    .hero__side:not(.hero__side--covered) .btn {
      height: auto;
      visibility: visible;
      opacity: 1; }
    .hero__side:not(.hero__side--covered) .btn {
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-top: 5rem; }
  .hero__side:not(.hero__side--grayed-out) {
    width: 90%; }
  .hero__side::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s ease; }

.invisible {
  visibility: hidden;
  opacity: 0; }

@media (max-width: 1200px) {
  .heading--primary {
    font-size: 6rem; }
  .hero__heading {
    font-size: 2rem; }
  .text {
    line-height: 1.4; }
  .hero__side.hero__side--grayed-out {
    width: 0%; }
  .hero__side:not(.hero__side--grayed-out) {
    width: 100%; }
  .hero__side:not(.hero__side--covered) {
    height: 115%; }
    .hero__side:not(.hero__side--covered) .hero__content {
      width: 50%; } }

@media (max-width: 768px) {
  .heading--primary {
    font-size: 6rem; }
  .text {
    transition: all 0.5s ease; }
  .btn {
    transition: height 0.5s ease, visibility 0.5s ease, opacity 0.5s ease; }
  .hero {
    flex-direction: column; }
    .hero__heading {
      width: 100%;
      text-align: center;
      padding: 4rem;
      top: 50%;
      transform: translate(-50%, -50%); }
  .hero__side {
    width: 100%;
    height: 50%; }
    .hero__side--left:not(.hero__side--covered) {
      background: linear-gradient(to bottom, rgba(33, 129, 154, 0.8), #fff), url(jinx.jpg);
      background-size: cover;
      background-position: left; }
      .hero__side--left:not(.hero__side--covered) .hero__content {
        text-align: left; }
    .hero__side--left::before {
      background: linear-gradient(to bottom, rgba(33, 129, 154, 0.8), #fff); }
    .hero__side--left .hero__content {
      align-items: flex-start; }
    .hero__side--right:not(.hero__side--covered) {
      background: linear-gradient(to bottom, rgba(148, 18, 108, 0.8), #fff), url(vi.jpg);
      background-size: cover;
      background-position: right; }
    .hero__side--right::before {
      background: linear-gradient(to top, rgba(148, 18, 108, 0.8), #fff); }
    .hero__side.hero__side--grayed-out {
      width: 100%;
      height: 0; }
    .hero__side:not(.hero__side--covered) .hero__content {
      top: 100%;
      width: 100%;
      padding: 5rem;
      transform: translateY(-100%) scale(1); }
    .hero__side:not(.hero__side--grayed-out) {
      width: 100%;
      height: 100%; }
    .hero__side::before {
      transition: opacity 0.5s ease; } }

@media (max-width: 576px) {
  .heading--primary {
    font-size: 5rem; }
  .text {
    font-size: 1.4rem; }
  .btn {
    margin: 0 auto; }
  .hero__side--left .hero__content {
    right: 0;
    text-align: center;
    align-items: center; }
  .hero__side--left .heading--primary,
  .hero__side--left .text {
    text-align: center; }
  .hero__side--left:not(.hero__side--covered) {
    background-position: 27%; }
  .hero__side--right .hero__content {
    left: 0;
    text-align: center; }
  .hero__side--right:not(.hero__side--covered) {
    background-position: 80%; }
  .hero__side:not(.hero__side--covered) .hero__content {
    padding: 3rem; }
  .hero__side:not(.hero__side--covered) .btn {
    margin-top: 3rem; } }
