:root {
    --color-primary: #650004;
    --color-primary--light: #eee0d7;
    --color-secondary: #b46640;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: inherit;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%; /* 10 px / 16px */
}

section {
    padding: 10rem 20rem;
}

.intro {
    margin: 0 auto;
    text-align: center;
}

.cols-2 {
    display: flex;
    gap: 5rem;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.cols-2:nth-of-type(odd) {
    background-color: var(--color-primary--light);
    flex-direction: row-reverse;
    transform: translateX(100%);
}

.cols-2.animated {
    transform: translateX(0);
}

.cols-2 > * {
    width: 50%;
}

.img {
    width: 100%;
}

.img-content {
    position: relative;
}

.img-content::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border: 3px solid var(--color-secondary);
    position: absolute;
    top: -1.4rem;
    left: -1.4rem;
}

.cols-2:nth-of-type(odd) .img-content::after {
    top: 1.4rem;
    left: 1.4rem;
}

.scroll-btn {
    font-size: 4rem;
    color: var(--color-primary);
}

.scroll-icon {
    animation-name: upDown;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.heading--primary {
    color: var(--color-primary);
    font-size: 8rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1rem;
    line-height: 1;
}

.heading--secondary {
    color: var(--color-primary);
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 3rem;
    line-height: 1;
}

.text {
    font-size: 1.6rem;
    line-height: 1.8;
}

.text--tag {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-secondary);
    color: #fff;
    margin-bottom: 1rem;
}

.slogan {
    color: var(--color-secondary);
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 8rem;
}

.intro .text {
    margin: 0 auto;
    width: 60%;
    margin-bottom: 2rem;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(2rem);
    }
}

@media (max-width: 1200px) {
    section {
        padding: 10rem;
    }

    .heading--primary {
        font-size: 6rem;
    }

    .slogan {
        font-size: 1.2rem;
    }

    .text {
        line-height: 1.4;
    }
}

@media (max-width: 992px) {
    .cols-2,
    .cols-2:nth-of-type(odd) {
        flex-direction: column;
    }

    .cols-2 > * {
        width: 100%;
    }

    .img-content {
        transform: translateX(0.7rem) scale(0.97);
    }

    .cols-2:nth-of-type(odd) .img-content {
        transform: translateX(-0.7rem) scale(0.97);
    }
}

@media (max-width: 768px) {
    section {
        padding: 8rem;
    }

    .heading--primary {
        font-size: 6rem;
    }

    .intro .text {
        width: 70%;
    }
}

@media (max-width: 576px) {
    section {
        padding: 6rem 3rem;
    }

    .heading--primary {
        font-size: 5rem;
    }

    .intro .text {
        width: 90%;
    }
}
